
.usernotebookcontainer {
   width: 100vw;
   background-color: whitesmoke;
   
 .navbar {
    width: 100vw;
    height: 8vh;
    background-color: rgb(82, 115, 234);
    padding: 3vh 7vh;
    border-radius: 8px;
    text-align: left;
    font-size: 5vh;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: bolder;
} 


 .noteWriter {
    background-color:whitesmoke;
    padding: 3vh;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
} 


.noteContainer {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: left;
    overflow-x: hidden;
}
}







